@{
    ViewData["Title"] = "Home Page";
}
@model Order
<h1>Update Cart</h1>
<form action="/order/@Model.OrderId/updateOrder" method="post">
<section>
<label for="CookieName">Cookie Name: </label>
<input type="text" name="CookieName" value="@Model.CookieName">
<span asp-validation-for="CookieName"></span>
</section>
<section>
<label for="Description">Description: </label>
<input type="text" name="Description"id="" value="@Model.Description">
<span asp-validation-for="Description"></span>
<section>
<label for="Quantity">Quantity: </label>
<input type="number" name="Quantity" id="" value="@Model.Quantity">
<span asp-validation-for="Quantity"></span>
</section>
<section>
<label for="ImgUrl">Cookie Pic: </label>
<input type="text" name="ImgUrl" id="" value="@Model.ImgUrl">
<span asp-validation-for="ImgUrl"></span>
</section>
<button>Update Cart</button>
</form>